.custom-btn {
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-12 {
    background-color: #000000a8;
    border: 2px solid rgba(66, 0, 0, 0.514);
    color: #fff;
    z-index: 1;
}

.btn-12:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgba(56, 0, 0, 0.568);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-12:hover {
    color: rgb(255, 0, 0);
}

.btn-12:hover:after {
    top: 0;
    height: 100%;
}

.btn-12:active {
    top: 2px;
}
